body,
#root {
  margin: 0px;
  height: 100vh;
}
header {
  display: flex;
  margin: 0px 10px;
  border-bottom: 1px solid rgb(220, 220, 220);
}
header > div:first-child {
  width: 100px;
}

header > div {
  width: 100%;
}

header a {
  color: rgb(85, 85, 85);
  text-decoration: none;
  font-size: 13px;
}
.main-header a {
  text-transform: uppercase;
  color: rgb(51, 51, 51);
}

header a:hover {
  text-decoration: underline;
}

.main-header a:hover {
  color: rgb(102, 153, 0);
}

header ul {
  display: flex;
}

.header-ul {
  /* 요소에 대하여 우측정렬 */
  justify-content: end;
  list-style: none;
  gap: 7px;
}

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  background-color: rgb(44, 42, 41);
  width: 100%;
}

footer ul {
  display: row;
}

footer li {
  list-style: none;
}

footer li > a {
  color: white;
  text-decoration: none;
}

footer li > a:hover {
  text-decoration: underline;
}

main {
  background-image: "../public/images/bg.jpg";
}
